.aside {
   background-image: url(../img/bg/bg1.png);
   background-repeat: no-repeat;
   background-size: contain;
}

.aside-title {
   width: 595px;
   margin: 0 auto;
   padding: 105px 0 28px 0;
   font-family: var(--font-family-montserrat-r);
   font-size: 44px;
   color: #fff;
   text-align: center;
}

.aside-subtitle {
   margin: 0;
   padding: 28px 0 101px 0;
   font-family: var( --font-family-vollkorn-r);
   font-size: 15px;
   color: rgba(255, 255, 255, 0.81);
   text-align: center;
}

.rectangle {
   display: block;
   margin: 0 auto;
}

.aside-text {
   height: 289px;
   margin-top: 35px;
   background-color: #fefec9;
}

.desc {
   position: relative;
   width: 940px;
   text-align: center;
   display: block;
   padding: 60px 0 40px 0;
   margin: 0 auto;
   font-family: var(--font-family-vollkorn-r);
   font-size: 18px;
   color: #47474f;

}

.cross {
   position: absolute;
   left: 48%;
   bottom: -17px;
  
}

.praimary-button {
  display: block;
  margin: 0 auto;
  
}

.brands-title {
   padding: 45px 0 28px 0;
   margin: 0;
   font-family: var( --font-family-montserrat-r);
   font-size: 23px;
   color: #333333;
   text-align: center;
}

.brands-cards {
   margin-top: 93px;
   margin-bottom: 35px;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
   align-items: center;
   column-gap: 99px;
  
  
}

.brands-card {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.brands-card-img {
   position: relative;

}

.brands-card-img::after {
   content: '';
   display: block;
   position: absolute;
   left: -64px;
   bottom: -29px;
   width: 255px;
   height: 190px;
   background: #f5f5f5;
   z-index: -1;
}

.brands-card-title {
   padding: 38px 0 20px 0;
   margin: 0;
   font-family: var( --font-family-montserrat-r);
   font-size: 16px;
   color: #333333;

}

.brands-card-subtitle {
   margin: 0;
   width: 297px;
   text-align: center;
   font-family: var(--font-family-vollkorn-r);
   font-size: 15px;
   color: #333333;

}

.projects {
   margin-top: 35px;
   background-color: #f5f5f5;

}

.projects-title {
   margin: 0;
   padding: 79px 0 28px 0;
   font-family: var(--font-family-montserrat-r);
   font-size: 23px;
   color: #333333;
   text-align: center;
   }

.projects-cards {
   padding-top: 43px;
   padding-bottom: 89px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(4, auto);
   justify-content: center;
   grid-gap: 20px;
}

.projects-card {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #fff;
}

.projects-card-img {
   display: inline-block;
   overflow: hidden;
}

.projects-card-img img {
   transition: 1s;
   display: block;
}

.projects-card-img img:hover {
   transform: scale(1.2);
}

.projects-card-title {
   margin: 0;
   padding-top: 19px;
   font-family: var(--font-family-montserrat-r);
   font-size: 16px;
   color: #333333;
}

.projects-card-subtitle {
   margin: 0;
   padding-top: 4px;
   font-family: var(--font-family-vollkorn-r);
   font-size: 14px;
   color: #333333;

}

.team {
margin-top: 35px;
}

.team-title {
   margin: 0;
   padding: 45px 0 28px 0;
   text-align: center;
   font-family: var( --font-family-montserrat-r);
   font-size: 23px;
   color: #333333;

}

.team-cards {
display: grid;
grid-template-columns: repeat(4, 1fr);
justify-content: center;
column-gap: 10px;
padding-bottom: 55px;
}

.team-card {
display: flex;
flex-direction: column;
align-items: center;
padding-top: 43px;
}

.team-card-img {
display: inline-block;
overflow: hidden;
}

.team-card-img img {
   transition: 1s;
   display: block;
}

.team-card-img img:hover {
   transform: scale(1.2);
}

.team-card-title {
   margin: 0;
   padding-top: 20px;
   font-family: var( --font-family-montserrat-r);
   font-size: 16px;
   color: #333333;
}

.team-card-subtitle {
margin: 0;
padding-top: 6px;
font-family: var( --font-family-vollkorn-r);
font-size: 14px;
color: #333333;
}

.team-card-socials {
padding-top: 29px;
display: flex;
align-items: center;
}

.team-card-socials img {
   margin-right: 13px;
}

.team-card-socials img:last-child {
   margin-right: 0;
}

.reviews {
  background-color: #f5f5f5;
}

.reviews-comma {
   padding-top: 69px;
   display: block;
   margin: 0 auto;
}

.reviews-cards {
display: grid;
grid-template-columns: repeat(2, 1fr);
justify-content: center;
column-gap: 70px;
}

.reviews-card {
display: flex;
flex-direction: column;
align-items: center;
}

.reviews-text {
   width: 338px;
margin: 0;
padding-top: 65px;
padding-bottom: 24px;
font-family: var( --font-family-vollkorn-r);
font-size: 26px;
color: #333333;
text-align: center;
}

.reviews-name {
   margin: 0;
   padding-top: 10px;
   padding-bottom: 98px;
   font-family: var(--font-family-montserrat-r);
   font-size: 14px;
   color: #ababab;

}



